body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#overview-topbar {
  width: 100% !important;
  height: 80px !important;
}
#overview-logo {
  margin: 23px 16px;
  display: inline-block;
  width: 34px;
  height: 34px;
  color: #FF5A5F;
}

/**** Banner ****/




/**** House Overview ****/
#overview-details-content {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1080px !important;
  font-size: 16px;
}
#overview-container {
  max-width: 600px;
}
#overview-container .part-header {
  font-weight: 600;
}


/* overview title */
#overview-description .title {
  display: inline-block;
  width: 80%;
}
#overview-description .title h1 {
  margin: 0;
  font-size: 32px;
}
#overview-description .location {
  margin: 0;
  cursor: pointer;
}
#overview-description .location:hover {
  text-decoration: underline;
}
#overview-description .host-photo {
  padding: 0 5px;
  float: right;
  text-align: center;
  font-size: 14px;
  color: #767676;
}
#overview-description .host-photo img {
  height: 64px;
  width: 64px;
  background-color:#777;
  border-radius: 32px;
}
#overview-description .summary {
  margin-top: 48px;
  clear: both;
  border-bottom: 1px solid #eee;
}


/* overview summary */
#overview-description .summary .item {
  margin-bottom: 24px;
}
#overview-description .item .icon {
  margin-right: 22px;
  display: inline-block;
}
#overview-description .item .icon img {
  margin-top:3px;
  height: 16px;
  width: 16px;
  background-color: #aaa;
}
#overview-description .item .details {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
#overview-description .item .part-header {
  margin: 0 0 5px 0;
}

/* overview description */
#overview-description .description {
  margin-top: 24px;
}

