body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#overview-topbar {
  width: 100% !important;
  height: 80px !important;
}
#overview-logo {
  margin: 23px 16px;
  display: inline-block;
  width: 34px;
  height: 34px;
  color: #FF5A5F;
}

/**** Banner ****/




/**** House Overview ****/
#overview-details-content {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1080px !important;
  font-size: 16px;
}
#overview-container {
  max-width: 600px;
}
