{
  "env": {
    "test": {
      "presets": ["@babel/preset-react", "@babel/preset-env"],
      "plugins": ["transform-export-extensions", "babel-plugin-styled-components"],
      "only": [
        "./**/*.js",
        "./**/*.jsx",
        "node_modules/jest-runtime"
      ]
    }
  }
}